# WordPress / Plugin
*.log
.DS_Store
Thumbs.db

# Dependencies
/vendor/
/node_modules/

# Build / Cache
*.cache
dist/
build/

# IDE / Editor
.idea/
.vscode/
*.sublime-*

# Env / lokale Configs
.env
*.local
