@use 'progress-bar';

#wprm-tools-finished {
	display: none;
}

#wprm-import-settings-result {
	margin-top: 5px;
}

.wprm-import-warning-list {
    margin: 8px 0 0 18px;
    color: #8b0000;
    font-weight: 600;
}
