.wprm-add-to-collection-tooltip-container {
    padding: 3px;

    select.wprm-add-to-collection-tooltip {
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 3px;
    }
}