@use 'variables';

.wprm-recipe-collections-layout-classic {
    .wprmprc-collection-actions {
        border: 1px solid variables.$color-action-border;
        border-radius: variables.$border-radius;

        &.wprmprc-collection-actions-overview,
        &.wprmprc-collection-actions-remove-items {
            border: none;
        }

        .wprmprc-collection-action-search-recipe,
        .wprmprc-collection-action-search-ingredient {
            input {
                margin: 0;
                padding: 3px 5px;
                font-size: 1em;
                color: black;
                background: white;
                border: 1px solid variables.$color-action-border;
                border-radius: variables.$border-radius;
                width: 100%;
                height: auto;
            }
        }
    }

    .wprmprc-collection-action {
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid variables.$color-action-border;
        border-radius: variables.$border-radius;
        background-color:variables.$color-action;
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            cursor: pointer;
            background-color: variables.$color-action-border;
            color: white;
        }
    }

    .wprmprc-collection-action-spacer {
        height: 20px;
    }

    .wprmprc-collection-action-header {
        background-color: variables.$color-action-border;
        color: white;
        text-align: center;
        padding: 10px 5px;
        font-weight: bold;
    }

    .wprmprc-collection-actions-edit-item .wprmprc-collection-action-header {
        margin-bottom: 5px;
    }

    .wprmprc-collection-actions-add-item {
        .wprmprc-collection-action-add-item-mode,
        .wprmprc-collection-action-select-collection {
            margin: 5px;
        }

        .wprmprc-collection-action-search-recipe,
        .wprmprc-collection-action-search-ingredient {
            padding: 5px;
            text-align: center;
        }

        .wprmprc-collection-action-select-items {
            padding: 10px 0;

            .wprmprc-collection-action-select-items-add {
                padding: 0 5px 5px 5px;
                font-style: italic;
                font-size: 0.8em;
            }
        }

        .wprmprc-collection-action-select-items-actions {
            padding: 5px 10px 10px 10px;
            font-size: 0.8em;
        
            .wprmprc-collection-action-select-items-action {
                text-decoration: underline;
                opacity: variables.$link-opacity;
        
                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }
    }

    .wprmprc-collection-actions-columns-groups {
        .wprmprc-edit-list {
            border-bottom: 1px solid variables.$color-action-border;

            &:last-child {
                border: none;
            }
        }
    }

    .wprmprc-collection-action-edit-note-form,
    .wprmprc-collection-action-edit-ingredient-form {
        margin: 5px;

        label {
            display: block;
            font-weight: bold;
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }
        }

        textarea {
            margin: 0;
            padding: 3px 5px;
            font-size: 1em;
            color: black;
            background: white;
            border: 1px solid variables.$color-action-border;
            border-radius: variables.$border-radius;
            width: 100%;
            min-height: 80px;
            resize: vertical;
        }
    }

    .wprmprc-collection-action-edit-ingredient-form {
        input {
            margin: 0;
            padding: 3px 5px;
            font-size: 1em;
            color: black;
            background: white;
            border: 1px solid variables.$color-action-border;
            border-radius: variables.$border-radius;
            width: 100%;
            height: auto;
        }
        .wprmprc-edit-list-item-edit {
            padding-right: 0;

            input {
                flex: 1;

                &:last-child {
                    flex: 2;
                }

                &::-webkit-input-placeholder {
                    color: #bbb;
                }
                &:-moz-placeholder {
                    color: #bbb;
                    opacity: 1;
                }
                &::-moz-placeholder {
                    color: #bbb;
                    opacity: 1;
                }
                &:-ms-input-placeholder {
                    color: #bbb;
                }
            }
        }
        .wprmprc-collection-action-edit-ingredient-nutrient {
            display: flex;
            align-items: center;

            .wprmprc-collection-action-edit-ingredient-nutrient-value {
                flex: 1;
                display: flex;
                align-items: center;

                input {
                    width: 60px;
                    margin-right: 5px;
                }
            }

            .wprmprc-collection-action-edit-ingredient-nutrient-label {
                flex: 1;
            }
        }
    }
}