$color-text: #333;

$color-overview: white;

$color-collection: white;
$color-collection-border: black;
$color-collection-text: white;

$color-item: white;
$color-item-border: lightgray;
$color-item-action: #EFEFEF;
$color-item-dropzone: lightgray;

$color-action: lightgray;
$color-action-border: #666; 

$border-radius: 5px;
$link-opacity: 0.7;